
.main {
  float: left;
  width: 900px;
  margin-left: 30px;
  margin-bottom: 50px;
} 

.exp {
  margin-bottom: 50px;
  width:600px;
  font-family: "ＭＳ Ｐゴシック",sans-serif;
  font-size: 70%;
  font-size: 1.0em;
}

.chat {
  margin-bottom: 50px;
  width:600px;
  font-family: "ＭＳ Ｐゴシック",sans-serif;
  font-size: 70%;
  font-size: 1.0em;
}

.sumup {
  margin-bottom: 50px;
  width:600px;
  font-family: "ＭＳ Ｐゴシック",sans-serif;
  font-size: 70%;
  font-size: 1.0em;
}



.register {
  width: 700px;
  float: left;
  margin-left: 20px;
  margin-top: 20px;
}

.f_button {
  width: 100px;
  float: left;
  margin-left: 10px;
  margin-top: 20px;
}
