.main_left {
  float: left;
  width: 600px;
  margin-bottom: 50px;
  margin-left: 30px;
}

.main_right {
  float: right;
  width: 300px;
  margin-bottom: 50px;
}
.exp {
  margin-bottom: 50px;
  float: left;
  width: 600px;
  font-family: "ＭＳ Ｐゴシック",sans-serif;
  font-size: 70%;
  font-size: 1.0em;
}

.chat {
  margin-bottom: 50px;
  float: left;
  width: 600px;
  font-family: "ＭＳ Ｐゴシック",sans-serif;
  font-size: 70%;
  font-size: 1.0em;
}

.sumup {
  margin-bottom: 50px;
  float: left;
  width: 600px;
  font-family: "ＭＳ Ｐゴシック",sans-serif;
  font-size: 70%;
  font-size: 1.0em;
}

.login {
  float: right;
  width: 200px;
  margin-left: 10px;
  margin-bottom: 30px;
}

.d_login {
  float: right;
  width: 200px;
  margin-left: 10px;
}

