
.main {
  float: left;
  width: 400px;
  margin-left: 20px;
  margin-bottom: 30px;
} 


.ample {
  float: left;
  width: 370px;
  margin-left: 20px;
}

.notes {
  float: right;
  width: 350px;
  margin-top: 30px;
  margin-right: 20px;
}

.fav {
  width: 350px;
  float: right;
  margin-right: 20px;
}

.bar {
  width: 800px;
  float: right;
}


.alert {
  width: 350px;
  float: left;
  margin-left: 20px;
}

.talk {
  width: 300px;
  margin-bottom: 20px;
  margin-top: 50px;

}
.f_button {
  float: right;
  width: 50px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.f_check {
  float: left;
  width: 270px;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 10px;
}

.doctor {
  width: 250px;
  margin-right: 20px;
  text-align: left;
  margin-top: 10px;
}

.patient {
  width: 250px;
  margin-left: 20px;
  margin-top: 10px;
  text-align: right;
}

