This is introduction

推薦される医師です。

<ul class="list-group">
<% @doctors.each do |doctor| %>
   <li class="list-group-item">
    <%= link_to doctor.name, doctor %> / <%= doctor.speciality %> / <%= doctor.adress %>
    </li>
<% end %>
</ul>


