
.main {
  float: left;
  width: 900px;
  margin-left: 400px;
  margin-bottom: 100px;
} 


.register {
  width: 700px;
  float: left;
  margin-left: 20px;
  margin-top: 20px;
}

.f_button {
  width: 100px;
  float: left;
  margin-left: 20px;
  margin-top: 20px;
}
