
.main {
  float: left;
  width: 400px;
  margin-left: 50px;
  margin-bottom: 40px;
} 


.patient {
  width: 700px;
  float: left;
  margin-left: 20px;
}

.open_tag {
  width: 450px;
  float: right;
  margin-left: 20px;
}

.f_button {
  width: 250px;
  float: right;
  margin-left: 20px;
}

