
.main {
  float: left;
  width: 900px;
  margin-left: 400px;
  margin-bottom: 100px;
} 


.ample {
  float: left;
  width: 450px;
  margin-left: 20px;
}

.notes {
  float: right;
  width: 450px;
  margin-right: 20px;
}

.doctor {
  float: left;
  width: 300px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.patient {
  float: right;
  width: 300px;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  background-color:#F9F9F9;
}

